.navbar {
    border-bottom: 2px solid #ff8f00 !important;
}

.bg-button {
    background-color: #ff8f00 !important;
    width: 5.8rem;
    height: 6rem;
    border-radius: 48px;
    align-items: center;
    justify-content: center;
    margin: 0.8rem;
    border-bottom-style: groove;
    border-color: #ffa737;
    box-shadow: 0rem 0.5rem 1rem #ff8f0052 !important;
    border-width: 0.4rem;
}

.bg-button2 {
    background-color: #ff8f00 !important;
    width: 16rem;
    height: 5rem;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    margin: 0.8rem;
    border-bottom-style: groove;
    border-color: #ffa737;
    box-shadow: 0rem 0.5rem 1rem #ff8f0052 !important;
    border-width: 0.4rem;
}

.jc-normal {
    justify-content: normal;
}

.column3 {
    column-count: 3;
    column-width: auto;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    padding-bottom: 25vh;
}

.img {
    width:21px;
    padding-top: 3px;
}

.boton:active {
    scale: 1.1;
    transition: ease-out;
    transition-duration: 0.3s;
  }
  