<div class="d-flex flex-column">

  <div>

  <nav class="navbar navbar-expand-lg bg-oscuro jc-normal" style="position: fixed !important; max-height: 10vh !important; z-index: 1 !important">
      <div style="align-items: center; font-size: 1.4rem !important;" class="white d-flex" >
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-justify" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
          </svg>
      </div>
      
      <div class="ml-4">
        <a class="navbar-brand white RobotoS" href="#">Elegí el país</a>
      </div>
  </nav>

</div>
  

    <div class="d-flex bg-oscuro2 column3" style="max-height: 100vh; padding-top: 10vh;">
      <div class="bg-button d-flex flex-column boton" routerLink="/arg">
        <a class="RobotoS white">Argentina</a>
        <img src="assets\argentina.png" class="d-flex img">
      </div>
      <div class="bg-button d-flex flex-column boton"#ref id="Brazil" routerLink="/bra">
        <a class="RobotoS white">Brasil</a>
        <img src="assets\brasil.png" class="d-flex img">
      </div>
      <div class="bg-button d-flex flex-column boton" id="Chile" routerLink="/chi">
        <a class="RobotoS white">Chile</a>
        <img src="assets\chile.png" class="d-flex img">
      </div>
      <div class="bg-button d-flex flex-column boton" id="Colombia" routerLink="/col">
        <a class="RobotoS white">Colombia</a>
        <img src="assets\colombia.png" class="d-flex img">
      </div>
      <div class="bg-button d-flex flex-column boton" id="Mexico" routerLink="/mex">
        <a class="RobotoS white">Mexico</a>
        <img src="assets\mexico.png" class="d-flex img">
      </div>
      <div class="bg-button d-flex flex-column boton" id="Uruguay" routerLink="/uru">
        <a class="RobotoS white">Uruguay</a>
        <img src="assets\uruguay.png" class="d-flex img">
      </div>
      <div class="bg-button d-flex flex-column boton" id="Germany" routerLink="/ale">
        <a class="RobotoS white">Alemania</a>
        <img src="assets\alemania.png" class="d-flex img">
      </div>
      <div class="bg-button d-flex flex-column boton" id="Spain" routerLink="/esp">
        <a class="RobotoS white">España</a>
        <img src="assets\españa.png" class="d-flex img">
      </div>
      <div class="bg-button d-flex flex-column boton" id="France" routerLink="/fra">
        <a class="RobotoS white">Francia</a>
        <img src="assets\francia.png" class="d-flex img">
      </div>
      <div class="bg-button d-flex flex-column boton" id="England" routerLink="/ing">
        <a class="RobotoS white">Inglaterra</a>
        <img src="assets\inglaterra.png" class="d-flex img">
      </div>
      <div class="bg-button d-flex flex-column boton" id="Italy" routerLink="/ita">
        <a class="RobotoS white">Italia</a>
        <img src="assets\italia.png" class="d-flex img">
      </div>
      <div class="bg-button d-flex flex-column boton" id="USA" routerLink="/eeuu">
        <a class="RobotoS white">EEUU</a>
        <img src="assets\eeuu.png" class="d-flex img">
      </div>
      <div class="bg-button2 d-flex flex-column boton" routerLink="/cont">
        <a class="RobotoS white">Continentales</a>
        <img src="assets\mundo.png" class="d-flex img">
      </div>
    </div>


</div>